@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


*{
  background-color: #24243e;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/* estilo para el titulo */

.title-style{
  text-align: center;
  margin: 3vh;
  font-size: 9vh;
}


/* estilos para el input */

input[type=text] {
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
 border: none;
  outline: none;
  width:  100vh;
  

}

input[type=text]:focus{
  background-color: #e0ddeb;
  background-image: linear-gradient(45deg, #e0ddeb 0%, #ffffff 100%); 

   border: none;
  outline: none;
  

}

/* estilo para el boton de cargar */

.btn-style{
 /* border: solid 1px #10f040;
 background-color: #8EC5FC;
 border-radius: 10px;
 font-weight: 600px; */
 color: #85EAF6;
 border: none;

}

.btn-style:hover{
  background-color: #ffffff;
  color: #24243e;
  
}

/* estilos de la lista */
.item-style{
 
  width: 75%;



}

/* estilo aora el icono */
.icono{
  
  background-color:red;
  font-size: 2vh;
}








/* medias para adaptar el titulo */
@media (max-width: 576px){
  .title-style{
   font-size: 5vh;
  }


 
}
@media (max-width: 768px){
  .title-style{
   font-size: 7vh;
  }
}


